# EXCLUDE SPECIFIC FILE(S)
*.lnk
wim.mounter.cmd
*.code-workspace
**/.Documentation/
*.hash
create.checksum.ps1
wintwin.fusion.logo.afphoto
wintwin.fusion.logo.only.png
#**/DISM.UI.CC/
**/PS.Tweak.Tools/
**/USMT.Composer/
/PS.Tweak.Tools
PS.Tweak.Tools/wtf.license.md
DISM.UI.CC/LICENSE.md
Lib/WinTwin.FXcore/copy-all-files.cmd
Lib/WinTwin.FXcore/unblock-all-files.cmd
DISM.UI.CC/ducc.wm.changelog.md
DEV.TASKS.md
Core/db/jobaction.json.backup
Core/db/process.json.backup
Core/db/workflow.json.backup
Core/config.json.backup
Core/db/jobaction.json.bak
wintwin.fusion.installer.log
