# EXCLUDE SPECIFIC FILE(S)
*.lnk
wim.mounter.cmd
*.code-workspace
**/.Documentation/
*.hash
create.checksum.ps1
wintwin.fusion.logo.afphoto
wintwin.fusion.logo.only.png
#**/DISM.UI.CC/
**/PS.Tweak.Tools/
**/USMT.Composer/
/PS.Tweak.Tools
PS.Tweak.Tools/wtf.license.md
DISM.UI.CC/LICENSE.md
Lib/WinTwin.FXcore/copy-all-files.cmd
Lib/WinTwin.FXcore/unblock-all-files.cmd
DISM.UI.CC/ducc.wm.changelog.md
DEV.TASKS.md
Core/db/jobaction.json.backup
Core/db/process.json.backup
Core/db/workflow.json.backup
Core/config.json.backup
Core/db/jobaction.json.bak
wintwin.fusion.installer.log
wintwin.installer.cmd.old.ps1
Core/ui/uupd.catcher.main.revised.xml
wintwin.fusion.window.afphoto
Core/ui/Show-DialogWindow.example.ps1
wintwin.installer.ps1
Lib/WinTwin.FXcore/Public/CreateUUPDiso.ps1
Lib/WinTwin.FXcore/Public/DownloadUUPDump.ps1
Lib/WinTwin.FXcore/Public/ExtractUUPDump.ps1
Lib/WinTwin.FXcore/Public/GetUUPDumpPackage.ps1
Lib/WinTwin.FXcore/Public/RenameUUPDiso.ps1
Lib/WinTwin.FXcore/Public/wtfxCheckProcess.ps1
Lib/WinTwin.FXcore/Public/wtfxConsoleScript.ps1
Lib/WinTwin.FXcore/Public/wtfxCreateNewDir.ps1
Lib/WinTwin.FXcore/Public/wtfxGetJobAction.ps1
Lib/WinTwin.FXcore/Public/wtfxGetPSExecutable.ps1
Lib/WinTwin.FXcore/Public/wtfxKillProcessp.s1.ps1
Lib/WinTwin.FXcore/Public/wtfxLaunchConsole.ps1
Lib/WinTwin.FXcore/Public/wtfxLoadJSON.ps1
Lib/WinTwin.FXcore/Public/wtfxLoadJSONC.ps1
Lib/WinTwin.FXcore/Public/wtfxRegisterProcess.ps1
Lib/WinTwin.FXcore/Public/wtfxRemoveFolder.ps1
Lib/WinTwin.FXcore/Public/wtfxSetCMDstate.ps1
Lib/WinTwin.FXcore/Public/wtfxSetJobAction.ps1
Lib/WinTwin.FXcore/Public/wtfxSystemMessageBox.ps1
Lib/WinTwin.FXcore/Public/wtfxUnregisterProcess.ps1
Lib/WinTwin.FXcore/Public/wtfxWriteJSON.ps1
Lib/WinTwin.FXcore/Public/wtfxWriteLogmsg.ps1
PS.Tweak.Tools/.pstt-sync.json
PS.Tweak.Tools/.pstt-sync.json
PS.Tweak.Tools/.pstt-sync.json
PS.Tweak.Tools/.pstt-sync.json
